[submodule "eureka-service"]
	path = eureka-service
	url = https://alexbut86@bitbucket.org/jalexb86/eureka-service.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://alexbut86@bitbucket.org/jalexb86/gateway-service.git
[submodule "dashboard-service"]
	path = dashboard-service
	url = https://alexbut86@bitbucket.org/jalexb86/dashboard-service.git
[submodule "user-service"]
	path = user-service
	url = https://alexbut86@bitbucket.org/jalexb86/user-service.git
